.modal-content {
    .modal-header {
        button {
            background-color: transparent;
            border          : none;
            outline         : none;
            color           : white;
            font-size       : 30px;
        }
    }
}