.doctor-extra-infor-container {
    .content-up {
        display       : flex;
        flex-direction: column;
        padding       : 15px;

        .clinic-title {
            text-transform: uppercase;
            font-size     : 14px;
            color         : #666;
            font-weight   : bold;
        }

        .address-clinic,
        .name-clinic {
            font-weight: bold;
            font-size  : 13px;
            padding    : 3px 0;
        }
    }

    .content-down {
        margin    : 0 15px;
        border-top: 1px solid #eee;

        .body-top {
            margin-top: 15px;

            .price-title {
                text-transform: uppercase;
                font-size     : 14px;
                color         : #666;
                font-weight   : bold;

            }

            .price {
                margin-left: 4px;
            }

            .more-infor {
                color : #45c3d2;
                cursor: pointer;
            }
        }

        .body-center {
            border      : 1px solid #ddd;
            margin-top  : 10px;
            margin-right: 6px;

            .top {
                padding         : 8px 5px;
                background-color: #f8f8f8;

                .top-price {
                    display        : flex;
                    justify-content: space-between;
                }

                .top-note {
                    color     : #666;
                    margin-top: 5px;
                }

            }

            .down {
                background-color: #eeeeee;
                padding         : 8px 5px;
            }
        }

        .btn-hidden {
            margin-top: 10px;

            span {
                color : #45c3d2;
                cursor: pointer;
            }
        }

    }
}