.change-password-container {


    .change-password {
        .error {
            font-weight: 600;
            color      : red;
        }

        .btn-cancel,
        .btn-change-password {
            border          : none;
            outline         : none;
            background-color: #0071ba;
            color           : white;
            padding         : 5px 8px;
            border-radius   : 4px;
        }

        .btn-cancel {
            margin-left     : 10px;
            background-color: orange;
        }

    }
}