.section-share.specialty {
    border-top      : 3px solid #efeef5;
    background-color: #fff;

    .section-image {
        background-image: url('../../../assets/images/specialty/co-xuong-khop.jpg');
    }
}