.verify-email-container {
    .information-booking {
        text-align    : center;
        color         : red;
        font-weight   : 600;
        font-size     : 18px;
        text-transform: uppercase;
    }
}